<fieldset class="form">
  <div class="fieldcontain required">
    <label for="name">Name
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="name" id="name" ng-model="vm.type.name" type="text" />
  </div>
  <div class="fieldcontain required">
    <label for="description">Description
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="description" id="description" ng-model="vm.type.description" type="text" />
  </div>
</fieldset>