
<section class="job-form-section job-form-section--image">
     <div class="container">
     <div class="row">
     <div class="col-lg-8 col-lg-offset-2">
     <div class="job-form-box">
     <h2 class="heading">Find a
     <span class="accent">job</span> you will
     <span class="accent">love</span>.
     </h2>
     <form id="job-main-form" method="get" action="#" class="job-main-form">
     <div class="controls">
     <div class="row">
     <div class="col-sm-5">
     <div class="form-group">
     <label for="profession">Profession</label>
     <input type="text" id="profession" name="profession" placeholder="Profession you are looking for" class="form-control">
     </div>
     </div>
     <div class="col-sm-5">
     <div class="form-group">
     <label for="location">Location</label>
     <input type="text" id="location" name="locationplaceholder="Anyparticularlocation?" class="form-control" />
     </div>
     </div>
     <div class="col-sm-2">
     <a href="/#jobs" name="submit" class="btn btn-primary job-main-form__button">
     <i class="fa fa-search"></i>
     </a>
     </div>
     </div>
     </div>
</form>
     </div>
     </div>
     </div>
     </div>
     </section>